
*{box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}body{background: #f0f0f0;}.content{width: 260px; margin: 100px auto;}.colors{width: 260px; float: left; margin: 20px auto;}.colors a{width: 43.3px; height: 30px; float: left;}.colors .default{background: #414956;}.colors .blue{background: #4A89DC;}.colors .green{background: #03A678;}.colors .red{background: #ED5565;}.colors .white{background: #fff;}.colors .black{background: #292929;}
body {
    margin: 0;
    padding: 0;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #4A89DC;
}
.img-user-navbar {
    border-radius: 50%;
    vertical-align: middle;
    border-style: none;
    width: 40px;
    height: 40px;
}
.jquery-accordion-menu,.jquery-accordion-menu *{

    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    outline:0
}
.jquery-accordion-menu{
    min-width:260px;
    float:left;
    position:relative;
    box-shadow:0 20px 50px #333
}
.jquery-accordion-menu .jquery-accordion-menu-footer,
.jquery-accordion-menu .jquery-accordion-menu-header{
    width:100%;
    height:50px;
    padding-left:22px;
    float:left;
    line-height:50px;
    font-weight:600;
    color:#f0f0f0;
    background:#414956
}
.jquery-accordion-menu ul{
    margin:0;
    padding:0;
    list-style:none
}
.jquery-accordion-menu ul li{
    width:100%;
    display:block;
    float:left;
    position:relative
}
.jquery-accordion-menu ul li a{
    width:100%;
    padding:14px 22px;
    float:left;
    text-decoration:none;
    color:#f0f0f0;
    font-size:13px;
    background:#414956;
    white-space:nowrap;
    position:relative;
    overflow:hidden;
    -o-transition:color .2s linear,background .2s linear;
    -moz-transition:color .2s linear,background .2s linear;
    -webkit-transition:color .2s linear,background .2s linear;
    transition:color .2s linear,background .2s linear
}
.jquery-accordion-menu>ul>li.active>a,
.jquery-accordion-menu>ul>li:hover>a{
    color:#fff;background:#3b424d
}
.jquery-accordion-menu>ul>li>a{
    border-bottom:solid 1px #3b424d
}
.jquery-accordion-menu ul li a i{
    width:34px;
    float:left;
    line-height:18px;
    font-size:16px;
    text-align:left
}
.jquery-accordion-menu .submenu-indicator{
    float:right;
    right:22px;
    position:absolute;
    line-height:19px;
    font-size:20px;
    -o-transition:transform .3s linear;
    -moz-transition:transform .3s linear;
    -webkit-transition:transform .3s linear;
    -ms-transition:transform .3s linear
}
.jquery-accordion-menu ul ul.submenu .submenu-indicator{
    line-height:16px
}
.jquery-accordion-menu .submenu-indicator-minus>.submenu-indicator{
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg)
}
.jquery-accordion-menu ul ul.submenu,
.jquery-accordion-menu ul ul.submenu li ul.submenu{
    width:100%;
    display:none;
    position:static
}
.jquery-accordion-menu ul ul.submenu li{
    clear:both;width:100%
}
.jquery-accordion-menu ul ul.submenu li a{width:100%;float:left;
    font-size:11px;
    background:#383838;border-top:none;position:relative;
    border-left:solid 6px transparent;-o-transition:border .2s linear;
    -moz-transition:border .2s linear;-webkit-transition:border .2s linear;
    transition:border .2s linear}.jquery-accordion-menu ul ul.submenu li:hover>a{
                                     border-left-color:#414956}.jquery-accordion-menu ul ul.submenu>li>a{
                                                                   padding-left:30px}.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>a{
                                                                                         padding-left:45px}
.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>ul.submenu>li>a{
    padding-left:60px
}
.jquery-accordion-menu ul li .jquery-accordion-menu-label,
.jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label{
    min-width:20px;
    padding:1px 2px 1px 1px;
    position:absolute;
    right:18px;
    top:14px;
    font-size:11px;
    font-weight:800;
    color:#555;
    text-align:center;
    line-height:18px;
    background:#f0f0f0;
    border-radius:100%
}
.jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label{
    top:12px
}
.ink{
    display:block;
    position:absolute;
    background:rgba(255,255,255,.3);
    border-radius:100%;-webkit-transform:scale(0);
    -moz-transform:scale(0);
    -ms-transform:scale(0);-o-transform:scale(0);
    transform:scale(0)
}
.animate-ink{
    -webkit-animation:ripple .5s linear;
    -moz-animation:ripple .5s linear;
    -ms-animation:ripple .5s linear;-o-animation:ripple .5s linear;
    animation:ripple .5s linear
}
@-webkit-keyframes ripple
{
    100%{
        opacity:0;-webkit-transform:scale(2.5)
    }
}
@-moz-keyframes ripple
{
    100%
    {
        opacity:0;-moz-transform:scale(2.5)
    }
}
@-o-keyframes ripple{
    100%{
        opacity:0;-o-transform:scale(2.5)
    }
}
@keyframes ripple
{
    100%
    {
        opacity:0;transform:scale(2.5)
    }
}
.blue.jquery-accordion-menu .jquery-accordion-menu-footer,
.blue.jquery-accordion-menu .jquery-accordion-menu-header,
.blue.jquery-accordion-menu ul li a{
    background:#4A89DC
}
.blue.jquery-accordion-menu>ul>li.active>a,
.blue.jquery-accordion-menu>ul>li:hover>a{
    background:#3e82da}
.blue.jquery-accordion-menu>ul>li>a{
    border-bottom-color:#3e82da}
.blue.jquery-accordion-menu ul ul.submenu li:hover>a{
    border-left-color:#3e82da}
.green.jquery-accordion-menu .jquery-accordion-menu-footer,
.green.jquery-accordion-menu .jquery-accordion-menu-header,
.green.jquery-accordion-menu ul li a{
    background:#03A678
}
.green.jquery-accordion-menu>ul>li.active>a,
.green.jquery-accordion-menu>ul>li:hover>a{
    background:#049372}
.green.jquery-accordion-menu>ul>li>a{
    border-bottom-color:#049372}
.green.jquery-accordion-menu ul ul.submenu li:hover>a{
    border-left-color:#049372}
.red.jquery-accordion-menu .jquery-accordion-menu-footer,
.red.jquery-accordion-menu .jquery-accordion-menu-header,
.red.jquery-accordion-menu ul li a{
    background:#ED5565
}
.red.jquery-accordion-menu>ul>li.active>a,
.red.jquery-accordion-menu>ul>li:hover>a{
    background:#DA4453
}
.red.jquery-accordion-menu>ul>li>a{
    border-bottom-color:#DA4453
}
.red.jquery-accordion-menu ul ul.submenu li:hover>a{
    border-left-color:#DA4453
}
.white.jquery-accordion-menu .jquery-accordion-menu-footer,
.white.jquery-accordion-menu .jquery-accordion-menu-header,
.white.jquery-accordion-menu ul li a{
    background:#fff;color:#555}
.white.jquery-accordion-menu>ul>li.active>a,
.white.jquery-accordion-menu>ul>li:hover>a{
    background:#f0f0f0}
.white.jquery-accordion-menu>ul>li>a{
    border-bottom-color:#f0f0f0
}
.white.jquery-accordion-menu ul ul.submenu li:hover>a{
    border-left-color:#f0f0f0
}
.white.jquery-accordion-menu ul ul.submenu li a{
    color:#f0f0f0}
.white.jquery-accordion-menu>ul>li>a>.ink{
    background:rgba(0,0,0,.1)
}
.black.jquery-accordion-menu .jquery-accordion-menu-footer,
.black.jquery-accordion-menu .jquery-accordion-menu-header,
.black.jquery-accordion-menu ul li a{
    background:#292929
}
.black.jquery-accordion-menu>ul>li.active>a,
.black.jquery-accordion-menu>ul>li:hover>a{
    background:#222}.black.jquery-accordion-menu>ul>li>a{
                        border-bottom-color:#222
                    }
.black.jquery-accordion-menu ul ul.submenu li:hover>a{
    border-left-color:#222
}
.content{
    margin: 0 auto;
    width: 240px;
}
.jquery-accordion-menu{
    width: 239px;
    max-width: 239px;
    min-width: 239px;
}
.bg-light{
    background-color:#383838!important;
}
.border-right{
    border: none !important;
}
.border-bottom{
    border: none !important;
}
.jquery-accordion-menu .jquery-accordion-menu-footer,
.jquery-accordion-menu .jquery-accordion-menu-header{
    height: 55px;
}
.navbar-light .navbar-nav .nav-link{
    color:#FFF;
}
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link{
    color:#FFF;
}
.light-color{
    color:#FFF;
}
.jquery-accordion-menu{
    box-shadow: none;
}
.jquery-accordion-menu .jquery-accordion-menu-footer,
.jquery-accordion-menu .jquery-accordion-menu-header{
    /*background: #1a588a;*/
    background: #f44336;
}
.jquery-accordion-menu ul li a {
    background: #f44336;
    border: none;
    font-weight: bold;
    font-size: 15px;
}
.jquery-accordion-menu ul ul.submenu li a{
    font-size: 12px;
}
.bg-main{
    background-color:#f44336 !important;
}
.bg-owner{
    background: #f44336;
}
.jquery-accordion-menu>ul>li.active>a,
.jquery-accordion-menu>ul>li:hover>a{
    background: #f40d1d;
}
.toggle-link{
    color: #FFF;
    font-size: 1rem;
    line-height: 1;
}
.navbar-light .navbar-toggler{
    border:none;
    outline: none;
}
.jquery-accordion-menu .jquery-accordion-menu-footer,
.jquery-accordion-menu .jquery-accordion-menu-header{
    font-family: monospace;
    font-size: 2rem;
    font-weight: bold;
}
/*
main content
*/

#page-content-wrapper{
  background: #FFF;
}
#page-content-wrapper .row ,.row{
  display: block;
}

#page-content-wrapper .row form{
    margin: 30px
}
.trackss{

    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}
.tracks-right-side{
    margin-left: 45px;
}
.tracks-left-side{
    margin-right: 45px;
}
.tracks-left-side,.tracks-right-side{
    float: left;
    width: 45%;

}
.tracks{
    /*width: 80%;*/
    /*float: left;*/
}
.tracks .table{
    width: 100%;
    display: table;
}
.add-track{
    /*margin-left: 400px;*/
    /*width: 20%;*/
    /*float: left;*/
}
#page-content-wrapper .row .trackss form{
    margin: 0px;
    margin-left: 20px;
}
.track-panel{
    margin: 30px auto;
    width: 90%;
}
.track-panel .badge-primary,.badge-danger,.badge-success{
    font-size: 15px;
    /*padding: 5px;*/
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
}
select.form-control[multiple], select.form-control[size]{
    height: 178px;
}

.save-add-track{
    margin-top: 10px;
}
.save-add-student{
    margin-top: 30px;
}
.student-heading{
    overflow: hidden;
    height: 100px;
}
.student-heading .title-zone{
    float: left;
    width: 40%;
}
.student-heading .title-zone h3{
    margin-left: 50px;
}
.student-heading .qr-zone{
    float: right;
    width: 60%;


}
.student-heading .qr-zone h3{
    padding: 10px;
    text-align: right;

    margin-right: 35px;
}
.dataTables_length{
    float: left;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
}

/*
checkbox FUNKY MD*/
.funkyradio-md label:not(.simple) {
    /*min-width: 400px;*/
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}
.funkyradio-md input[type="checkbox"]:empty {
    display: none;
}
.funkyradio-md input[type="checkbox"]:empty ~ label{
    position: relative;
    line-height: 2.15em;
    text-indent: 2.75em;
    margin-top: 0.2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 0.8rem;
}
.funkyradio-md input[type="checkbox"]:empty ~ label:before{
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content:' ';
    width: 2.5em;
    font-size: 0.75rem;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}
.funkyradio-md input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content:'\2717';
    text-indent: .8em;
    color: #C2C2C2;
}
.funkyradio-md input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}
.funkyradio-md input[type="checkbox"]:checked ~ label:before {
    content:'\2717';
    text-indent: .8em;
    color: #333;
    background-color: #ccc;
}
.funkyradio-md input[type="checkbox"]:checked ~ label{
    color: #777;
}
.funkyradio-md input[type="checkbox"]:focus ~ label:before{
    box-shadow: 0 0 0 3px #999;
}
/* SECONDARY */
.funkyradio-secondary input[type="checkbox"]:checked ~ label:before{
    color: #fff;
    background-color: #aa66cc;
}
.funkyradio-secondary input[type="checkbox"]:checked ~ label{
    background-color: #f2e8f7;
}

/* SUCCESS */
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #00c851;
}
.funkyradio-success input[type="checkbox"]:checked ~ label {
    background-color: #d9f7e5;
}

/* DANGER */
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #ff3547;
}
.funkyradio-danger input[type="checkbox"]:checked ~ label{
    background-color: #ffe1e4;
}

.tracks-choice{
    overflow: hidden;
}
.tracks-choice .track-item{
    float: left;
    width: 25%;
    margin-left: 20px;
}
.bg-mydanger{
background-color: #ffa7a74d!important;
}
.bg-mysuccess{
    background-color: #8eff9924!important;
}
#user-name-from-qr{
    color: red;
    font-family: monospace;
}
.stop-session{
    float: right;
}
.absent-wrapper .row-absent{
    display: flex !important;

}
.absent-wrapper .row-absent .form-data{
    width: 350px;
}

.scan-qr-to-take-absent{
    margin: 30px;
    width: 500px;
    height: 427px;
    border: 1px solid #1a588a;
    border-radius: 20px;
}
.scan-qr-to-take-absent canvas{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.scan-absense-btn{
    margin-bottom:10px;
}

.mr-bottom{
margin-bottom: 10px;
}
.hideme{
    display: none;
}
.showme{
    display: inline-block;

}
#MESSAGE{
    width: 50%;
    margin:10px auto;
}

.success-operation{
    background-color: #1bcc46;
    color: #FFF;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: capitalize;

}

.danger-operation{
    background-color: #f40063;
    color: #FFF;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: capitalize;

}
.track-item-student{
    width: 43% !important;
}

.sm-btn{
    width: 75px;
    float: left;
    display: block;
    margin-right: 12px;
}
.sm-btn:last-child{
    margin-right: 0px;
    margin-left: 12px;
}
.sm-btn-close{
    width: 75px;
    display: block;
    margin-top: -15px;
}
#version{
    font-size: 1rem;
    /*color: #f44336;*/


}
a:not([href]):not([tabindex]){
    color: #fff;
}
.disabled{
    pointer-events: none;
}
#logo-color{
    color: #f44336;
    color: #FFFFFF;
}
.mr-top{
    margin-top: 30px;
}
.font-cap-bold{
    font-weight: bold;
    text-transform: capitalize;
}
#scan-controller-canvas{
    margin-top: 50px;
    width: 700px;
    margin-left: 200px;

}
#scan-controlleres{
margin-left: 400px;
margin-bottom: 10px;

}

input.hidden {
    position: absolute;
    left: -9999px;
}

#profile-image1 {
    cursor: pointer;

    width: 100px;
    height: 100px;
    border:2px solid #03b1ce ;}
.tital{ font-size:16px; font-weight:500;}
.bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}


.dash-title{
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px;
}





















